<div id="password-container" class="center">
      {% if section.settings.custom_logo != nil %}
        <div class="password-page-row">
          <div class="password-page-col">
            <img class="password-logo" src="{{ section.settings.custom_logo | img_url: '720x' }}" alt="{{ shop.name }}" />
          </div>
        </div>
      {% else %}
        <div class="password-page-row">
            <div class="password-page-col">
              <h1 class="logo">{{ shop.name }}</h1>
            </div>
        </div>
      {% endif %}
      <div class="password-page-row">
        <div class="password-page-col">
          <h2 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h2>
        </div>
      </div>
      {% unless section.settings.password_message == blank %}
      <div class="password-page-row">
        <div class="password-page-col">
          {{ section.settings.password_message }}
        </div>
      </div>
      {% endunless %}
      <div class="controls">
        <div id="open-me">
          <a href="#">&#8226; {{ 'general.password_page.login_form_heading' | t }} &#8226;</a>
        </div>
      </div>

      <div class="password-page-row">
        <div class="password-page-col">
          {% if section.settings.password_text %}
            {{ section.settings.password_text }}
          {% endif %}
          {% include 'newsletter-form' %}
           <p class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</p>
        </div>
      </div>

      <div class="password-page-row">
        <div class="password-page-col password-social">

          {% if section.settings.social_media %}
            <ul class="social_icons">
              {% if settings.twitter_link != '' %}
                  <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
                {% endif %}

                {% if settings.facebook_link != '' %}
                  <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
                {% endif %}

                {% if settings.google_link != '' %}
                  <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-gplus"></a></li>
                {% endif %}

                {% if settings.youtube_link != '' %}
                  <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
                {% endif %}

                {% if settings.vimeo_link != '' %}
                  <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo"></a></li>
                {% endif %}

                {% if settings.pinterest_link != '' %}
                  <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
                {% endif %}

                {% if settings.tumblr_link != '' %}
                  <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
                {% endif %}


                {% if settings.instagram_link != '' %}
                  <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
                {% endif %}

                {% if settings.snapchat_link != '' %}
                  <li><a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank" class="icon-snapchat"></a></li>
                {% endif %}

                {% if settings.houzz_link != '' %}
                  <li><a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank" class="icon-houzz"></a></li>
                {% endif %}
                {% if settings.linkedin_link != '' %}
                  <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
                {% endif %}

                {% if settings.email_link != '' %}
                  <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
                {% endif %}
            </ul>
            <p class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</p>
          {% endif %}
        </div>
      </div>

	<div class="password-page-row">
    	<div class="password-page-col">
    		<div class="password-footer">
     		  <div class="powered">
  	  		  &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ 'layout.general.designer_credits_html' | t }}<br>
      		  </div>
     		  <div class="shopify">
      	      {{ 'general.password_page.powered_by_shopify_html' | t }}
      		  </div>
     		</div>
   		 </div>
  	</div>
  </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close"><a class="remodal-close"></a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }} </label>
      <div>
        <input type="password" name="password" id="password" autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
        <input class="action_button sign_up" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
      </div>
    {% endform %}

    <div id="owner">{{ 'general.password_page.admin_link_html' | t }} {{ 'general.password_page.or' | t }} <a href="/admin/online_store/preferences?tutorial=unlock">{{ 'general.password_page.change_your_password_settings' | t }}</a></div>
  </div>
</div>
</div>

<script>
$(function() {
  $('#open-me').on('click', function() {
    $('.overlay').addClass('overlay-open');
  });

  $('.close-me').on('click', function() {
    $('.overlay').removeClass('overlay-open');
  });
});
</script>

<style>
  #password-page-bg {
    color: {{ settings.password_page_text_color }};
    background-color: {{ settings.password_page_background_color }};
    {% if section.settings.custom_pagework_page_bg and section.settings.password-page-background == blank %}
      background: url({{ "password-page-background.jpg" | asset_url }}) center center;
    {% elsif section.settings.custom_pagework_page_bg and section.settings.password-page-background != blank %}
      background: url({{ section.settings.password-page-background | img_url: '2000x' }}) center center;
    {% endif %}
    {% if section.settings.pagework_page_bg_stretched %}
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    {% endif %}
  }

  .password-logo {
    max-width: {{ section.settings.logo_width }}px;
    margin: 0 auto;
  }

  #password-container h1 {
    color: {{ settings.password_page_text_color }};
  }

  .password-page-message {
    color: {{ settings.password_page_text_color }};
    border-top: 1px solid {{ settings.password_page_text_color }};
    border-bottom: 1px solid {{ settings.password_page_text_color }};
  }

  .password-page-follow {
    color: {{ settings.password_page_text_color }};
  }

  .password-social .social_icons a,
  .password-social .social_icons a:visited,
  .password-social .social_icons a:active {
    color: {{ settings.password_page_text_color }};
  }

  #open-me a {
    color: {{ settings.password_page_text_color }};
  }
</style>

{% schema %}
{
  "name": "Password page",
  "class": "password-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Logo",
      "info": "720px wide recommended"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo display width",
      "step": 5,
      "min": 100,
      "max": 280,
      "default": 280,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "custom_pagework_page_bg",
      "label": "Use background image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "password-page-background",
      "label": "Background image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "pagework_page_bg_stretched",
      "label": "Stretch background to fill the password page",
      "default": true
    },
    {
      "type": "richtext",
      "id": "password_message",
      "label": "Message"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "password_text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ]
}
{% endschema %}