{% comment %}
** Social feeds (Instagram and Twitter) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div class="container social-feeds-wrap">
  <div class="section clearfix homepage_content">
    {% for block in section.blocks %}
      {% assign blockLength = forloop.length %}
      {% if block.type == 'instagram' %}
        <div class="block__{{ block.type }} {% if blockLength > 1 %}eight{% else %}sixteen{% endif %} columns equal-columns--outside-trim" {{ block.shopify_attributes }}>
          <h2 class="title insta {% if blockLength == 1 %}center{% endif %}">
            {% if settings.instagram_link != blank %}
              <a href="{{ settings.instagram_link }}" target="_blank">
            {% endif %}
            {{ block.settings.instagram_title }}
            {% if settings.instagram_link != blank %}
              </a>
            {% endif %}
          </h2>
          {% if block.settings.instagram_title != blank %}
            <div class="feature_divider"></div>
          {% endif %}

          {% if block.settings.instagram_client_id != blank %}
            <div id="instafeed" class="js-instafeed" data-client-id="{{ block.settings.instagram_client_id | strip }}" data-count="{{ block.settings.instagram_count }}" data-column="{% if blockLength > 1 %}eight{% else %}four{% endif %}"></div>
          {% else %}
            <div id="instafeed" class="clearfix placeholder-instagram">
              {% for i in (1..block.settings.instagram_count) %}
                <div class="{% if blockLength > 1 %}eight{% else %}four{% endif %} columns instagram__item small-down--one-whole">
                  <a href="#" class="instagram__link">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--instagram' }}
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if block.type == 'twitter' %}
        <div class="{% if forloop.length > 1 %}eight{% else %}sixteen{% endif %} columns" {{ block.shopify_attributes }}>
          <h2 class="title twitter {% if forloop.length == 1 %}center{% endif %}">
            <a href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" target="_blank">{{ block.settings.twitter_title }}</a>
          </h2>
          {% if block.settings.twitter_title != blank %}
            <div class="feature_divider"></div>
          {% endif %}

          <a id="twitter-timeline" class="twitter-timeline" data-theme="{{ block.settings.twitter_theme }}" href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-widget-id="319998048782647298" data-tweet-limit="{{ block.settings.tweet_count }}" data-screen-name="{{ block.settings.twitter_username | replace: "@", "" | strip }}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;font-family: {{ settings.regular_font | replace: 'Google_', '' | replace: '+', ' ' | replace: '"', '' }}"></a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
  
  {% if section.settings.background_color != blank %}
  
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
  }
  
  {% endif %}
  
</style>

{% schema %}
{
  "name": "Social feeds",
  "class": "social-feeds-section",
  "max_blocks": 2,
  "settings": [
	{
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
	],
  "blocks": [
    {
      "type": "twitter",
      "name": "Twitter feed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "twitter_username",
          "label": "Twitter username"
        },
        {
          "type": "text",
          "id": "twitter_title",
          "label": "Heading",
          "default": "Tweets"
        },
        {
          "type": "radio",
          "id": "twitter_theme",
          "label": "Twitter feed theme",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ]
        },
        {
          "type": "range",
          "id": "tweet_count",
          "label": "Number of tweets",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 2
        }
      ]
    },
    {
      "type": "instagram",
      "name": "Instagram feed",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "instagram_client_id",
          "label": "Instagram Access Token ([?](https:\/\/outofthesandbox.com\/pages\/instagram-access-token))"
        },
        {
          "type": "text",
          "id": "instagram_title",
          "label": "Heading",
          "default": "Instagram"
        },
        {
          "type": "range",
          "id": "instagram_count",
          "label": "Number of images",
          "min": 2,
          "max": 12,
          "step": 2,
          "default": 6
        }
      ]
    }
  ],
  "presets": [{
    "name": "Social feeds",
    "category": "Social",
    "blocks": [
      {
        "type": "twitter",
        "settings": {
          "twitter_title": "Tweets"
        }
      },
      {
        "type": "instagram",
        "settings": {
          "instagram_title": "Instagram"
        }
      }]
    }]

}
{% endschema %}
